body {

	background:url('tiles/fancy_deboss.png') repeat;
  font: 23px 'Terminal Dosis Light', Helvetica, Arial, sans-serif;
	width:1000px;
}

a {
  color: #00B7FF;
}

.note {
	font-size:16px;
}

ul#post {
	background-color: rgba(100,100,100,.05);
	position:absolute;
	list-style-type:none;
	width: 600px;
	border-radius: 5px;
	padding:0;
	
}
li.post {
	border-bottom: 1px solid #ccc;
	margin:5px 15px;
	height:150px;
	padding:0;
}
img.thumb {
	display:inline;
	max-width:100px;
	max-height:140px;
	margin-bottom:10px;
}
.img {
	margin-right:10px;
	float:left;
	display:inline;
}

.txt {
	margin-left:110px;
	border:2px dotted green;
}

/* sidebar */

#sidebar {
	position:fixed;
	top:100px;
	float:right;
	width:300px;
}
input[type=checkbox] {
	margin-right:2ex;
}
