body {
  padding: 50px;
  font: 20px 'Terminal Dosis Light', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
ul#post {
	list-style-type:none;
	width: 600px;
}
li.post {
	border-bottom: 1px solid #ccc;
	padding:5px 0;
	height:150px;
}
img.thumb {
	display:inline;
	max-width:100px;
}
.img {
	height:150px;
	margin-right:10px;
	float:left;
	display:inline;
	border: 2px dotted pink;
}
li.post p {
	margin-left:120px;
	margin-left:5px;
	border:2px solid green;
}
.txt {
	margin-left:120px;
		border:2px dotted green;
}