body {
  padding: 50px;
  font: 20px 'Terminal Dosis Light', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
ul#post {
	list-style-type:none;
	width: 600px;
}
li.post {
	border-bottom: 1px solid #ccc;
	padding:5px 0;
}
img.thumb {
	float:left;
	display:inline;
	max-width:100px;
}

li.post p {
	margin-left:5px;
}