div#main
  #com
    form(action='#')
      input(type='text', name='cmd', id='cmd')
      input(type='submit', id='submit', value='submit')

  ol#terminal

script(src='/javascripts/jquery-1.6.2.min.js')
script(type="text/javascript", src="/javascripts/chosen.jquery.min.js")
script(type="text/javascript", src="/javascripts/jquery.isotope.min.js")
script(type='text/javascript', src='/dnode.js')
script(src='/javascripts/underscore-min.js')
script(type='text/javascript', src='/javascripts/dnode.js')