doctype 5
html
	head
		link(href='/css/style.css', rel='stylesheet')
		script(src='/javascripts/jquery-1.6.2.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/underscore-min.js')

	body
    ul#post
	script(src='/javascripts/live.js')